[submodule "backend"]
	path = backend
	url = https://github.com/hrucalc/proyecto-final-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/hrucalc/proyecto-final-frontend.git
